<div id="dialog-form" class="hide">
    <% @event = Event.new if @event.nil? %>
    <% form_for(@event) do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :start_date %>
		<%= f.text_field :start_date %>
      </p>
      <p>
        <%= f.label :end_date %>
        <%= f.text_field :end_date %>
      </p>
	  <p>
	  <%= label_tag 'Status' %>: <%= enum_select :event, :status  %> <br>(changing status clears all status exceptions)
      </p>
    <% end %>
</div>