<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Start date:</b>
  <%=h @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @event.end_date %>
</p>

<p>
  <b>Status:</b>
  <%=h @event.status %>
</p>


<% if has_role?(Role::BUYER.to_sym) || has_role?(Role::ADMIN.to_sym) %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %> 
<%= link_to 'Back', ((has_role?(Role::BUYER.to_sym) || has_role?(Role::ADMIN.to_sym)) ? events_path : '/supplierview/as_supplier') %>