<h1>Editing setting</h1>
<% form_for @setting, :url => { :action => "update", :controller => "admin/settings" } do |f| -%>
  <%= f.error_messages %>
  <%= hidden_field_tag :id, @setting.id %>
  <p>
    <%= f.label 'Setting' %>: 
    <%= t @setting.key %>
  </p>
  <p>
    <%= f.label 'Value' %>: 
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%= link_to 'Back', '/admin/settings' %>