<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <title>Klaratee:</title>
      <link type="image/x-icon" rel="icon" href="/images/klaratee-favicon.ico">
      <link type="image/x-icon" rel="shortcut icon" href="/images/klaratee-favicon.ico">
      <% # :defaults gets you:
      # /javascripts/jquery.js?1255828083"
      # /javascripts/jquery-ui.js?1255828083"
      # /javascripts/jrails.js?1255828083"
      # /javascripts/application.js?1253847122" %>
      <%= javascript_include_tag :defaults %>
      <!-- Req.  Datapicker error if left out, or placed after the 1.8 include. -->
	  <%= javascript_include_tag "/javascripts/jquery-1.4.2.min.js" %>
      <%= javascript_include_tag "/javascripts/jquery-ui-1.8.custom.min.js" %>
      <%= javascript_include_tag "/javascripts/jquery.dataTables.min.js" %>
      <%= javascript_include_tag "/javascripts/jquery.jeditable.mini.js" %>
      <%= javascript_include_tag "/javascripts/chromemenu.js" %>
      <%= javascript_include_tag "/javascripts/uni-form.jquery.min.js" %>
      <%= javascript_include_tag "/javascripts/uni-form-validation.jquery.min.js" %>
      <%= stylesheet_link_tag 'styles' %>
      <%= stylesheet_link_tag "jquery-ui-1.8.custom.css" %>
      <%= stylesheet_link_tag "uni-form.css" %>
      <%= stylesheet_link_tag "default.uni-form.css" %>
      <%= stylesheet_link_tag "/stylesheets/chromemenu/chromestyle.css" %>
   </head>
   <body>
   	<style type="text/css">
		  #logo {background-image:url(<%= image_path LayoutsHelper.logo_path(@company.nil? ? "default" : @company.name, "_poweredby_logo.png") %>);}
 	  </style>
	   <div id="header-container">
	   	
	      <div id="logo"></div>
	      <div id="info-area">
	         <div>
	            <%= link_to 'Contact Us', contact_us_path %>&nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to 'Logout', logout_path %>
				<% if !session[:surrogate_parent].nil? %>				   
				   <br><font color="red"><b><%= "#{session[:surrogate_parent][:login]} acting as surrogate." %></b></font> 
				   <%= link_to 'Leave Surrogate', surrogate_return_path %>
				<% end %>

	         </div>
	         <div>
	            Welcome <b><%=h current_user.login unless current_user == nil %></b>
	            <% if ! session[:acting_as_supplier].nil? %>
	            For supplier: <b><%= session[:acting_as_supplier].company_name %></b>
	            <% end %>
	         </div>
	         <% if (! current_user.nil?) && has_role?(Role::ADMIN.to_sym) %>
	         <div>
	            <% form_for :company, :url => {:controller=>"/users", :action => "switch_db" }, :html => { :method => 'get' } do |f| %>
	            Choose company: <%= collection_select(:company, :id, @companies, :id, :name,options ={}  , {:onchange => 'this.form.submit()'}) %>
	            <% end %>
	         </div>
	         <% end %>
	      </div>
	   </div>
	   
	   <div id="messages-container">
       <% unless flash[:warn].nil? %>
       <div id="warning-box">
          <%= flash[:warn] %>
       </div>
       <% end %>
       <% unless flash[:notice].nil? %>
       <div id="notice-box">
          <%= flash[:notice] %>
       </div>
       <% end %>
       <% unless flash[:error].nil? %>
       <div id="error-box">
          <%= flash[:error] %>
       </div>
       <% end %>
       <%
		   # Use this tag when doing ajax messages/errors.  Its not styled so in your error put another div with the 
           # styling you want.
           #      format.json { 
           #        render :json  => "<div id='error-box'>My error text</div>", :status => :failure  
           #      }
           # Then in your view:
           # remote_form_for @supplier,:update => {:failure=>"alt-message"}  do |f|
       %>
       <div id="alt-message"></div>
	   </div>
	   
	   <div id="main-container">
          <% if ! current_user.nil? %>
	      <div id="left-nav">
	         <ul>
	            <% if has_role?(Role::ADMIN.to_sym) || has_role?(Role::SUPPLIER.to_sym) %>
	            <li id="supplierview-tab" url="/supplierview/as_supplier">
	               <div>Overview</div>
	            </li>
	            <% end %>
	            <% if has_role?(Role::ADMIN.to_sym) || has_role?(Role::BUYER.to_sym) %>
	            <li id="event-tab" url="/events">
	               <div>Events</div>
	            </li>
	            <li id="template-tab" url="/data_templates">
	               <div>Templates</div>
	            </li>
	            <li id="supplier-tab" url="/suppliers">
	               <div>Suppliers</div>
	            </li>
	            <% end %>
	            <% if (has_role?(Role::ADMIN.to_sym) || has_role?(Role::BUYER.to_sym) || has_role?(Role::SUPPLIER.to_sym) ) %>
	            <li id="item-tab" url='/items'>
	               <div>Items</div>
	            </li>
	            <% end %>
                <% if has_role?(Role::ADMIN.to_sym) %>
                <li id="admin-tab" url='/admin/admin'>
                   <div>Admin</div>
                </li>
                <% end %>
	         </ul>
	      </div>
          <% end %>
	      <div id="main-content">
	         <%= yield %>
	      </div>
	   </div>
   </body>
</html>
